DATABASE_URL="postgresql://USER:PASSWORD@127.0.0.1:54329/jenanbiz?schema=public"
POSTGRES_DB="jenanbiz"
POSTGRES_USER="jenanbiz_app"
POSTGRES_PASSWORD=""
POSTGRES_PORT="54329"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET=""
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""
SUPER_ADMIN_DISPLAY_NAME=""
SUPER_ADMIN_LOCALE="en"
SUPER_ADMIN_COUNTRY_CODE="SA"
